<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Flat Earthers are united all around...I mean straight across the world.</a>
    <ul class="right">
      <li>
        <a href="/evidence">Documented Evidence</a>
      </li>

    </ul>
  </div>
</nav>