<html>
  <head>
    <% include ./partials/header %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <div class="container">
      <% var url = "/flat/" + fact.id + "?_method=PUT" %>
      <form method="POST" action="<%= url %>" >
        <input required name="evidence" value='<%= fact.evidence %>' />
        <a href="/flat" class="btn red">Cancel</a>
        <button class="btn">Save</button>
     </form>
   </div>
  </body>
</html>